.ChangeUsernameForm {
  display: flex;
  /* flex-direction: column; */
  position: relative;
  /* align-items: center; */
  /* margin-top: 6rem; */
  /* justify-content: center; */
}

.change-username-box {
  width: 25rem;
  max-height: 40rem;
  /* background: #ffffff;
  box-shadow: 4px 6px 4px rgba(0, 0, 0, 0.25);
  border-radius: 20px; */
  /* margin-top: 1rem; */
  /* margin-bottom: 2rem; */
  /* padding: 1rem 1.3rem; */
  padding-top: 1rem;
  padding-left: 1.3rem;
  padding-right: 1.3rem;
  line-height: 1.5rem;
}

.change-username-form {
  display: flex;
  flex-direction: column;
}

.change-username-title {
  /* font-family: var(--segoeUI-font); */
  font-weight: bold;
  /* font-size: 1rem; */
  text-align: center;
  /* padding: 1rem 0; */
  margin-bottom: 2rem;
}

.change-username-field {
  display: flex;
  flex-direction: column;
  margin-bottom: 2rem;
}

.change-username-field label {
  font-family: var(--segoeUI-font);
  font-weight: bold;
  padding-bottom: 0.2rem;
  font-size: 0.8rem;
  color: #6e6e6e;
}

.change-username-field input {
  border: 1px solid #eeeeee;
  border-radius: 0;
  height: 3rem;
  padding: 0 0.7rem;
}

.change-username-field input:focus {
  outline: none !important;
  border: 1px solid #007db5;
}

.change-username-field input[type="email"] {
  text-transform: lowercase;
}

.main-error-message {
  padding-bottom: 0.5rem;
}

.message {
  margin-top: 0.3rem;
  /* color: #bf2e35; */
  font-weight: normal;
  font-size: 0.8rem;
}

.error-color {
  color: #bf2e35;
}

.success-color {
  color: #24c43e;
}

.button.create-account-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 2.1rem;
  font-family: var(--segoeUI-font);
  font-size: 0.9rem;
  font-weight: bold;
  border-radius: 5rem;
  border: none;
  background-color: black;
  color: #ffffff;
  font-weight: bold;
  letter-spacing: 0.02rem;
  padding: 1.4rem 0;
  margin-top: 1rem;
  margin-bottom: 1.5rem;
}

.button.create-account-btn:hover {
  background-color: rgb(0, 0, 0, 0.85);
  cursor: pointer;
}

.button.create-account-btn:active {
  background-color: black;
}

.login-redirect p {
  font-family: var(--segoeUI-font);
  font-size: 0.7rem;
  text-align: center;
  color: #6e6e6e;
}

.login-redirect p a {
  font-weight: 600;
  text-decoration: underline;
  color: #007db5;
}

@media screen and (max-width: 768px) {
  .change-username-box {
    margin-top: 0;
  }
}

@media screen and (max-width: 460px) {
  .ChangeUsernameForm {
    width: 100%;
    border-radius: 0;
    padding: 1rem 0;
  }

  .change-username-box {
    padding: 1rem 0;
  }
}
